<div class="chat-container">
  @if (class.name) {
  <div class="top-container">
    <div class="title">
      <span [innerHTML]="class.name | truncate: isTitleActive" (click)="showTitle()"></span>        
        <button mat-icon-button [matMenuTriggerFor]="class_menu"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #class_menu>
            <button mat-menu-item [routerLink]="'/class/'+this.class.link+'/info/'">Информация<mat-icon matTextPrefix>info</mat-icon></button>
        </mat-menu>
    </div>
  </div>

  <div class="messages-container" #messagesContainer>
    @if (hasMore$ | async) {
    <div class="load-more-wrapper">
      <button mat-stroked-button (click)="loadMoreMessages()">
        <mat-icon>expand_less</mat-icon>
        ЗАГРУЗИТЬ ПРЕДЫДУЩИЕ
      </button>
    </div>
    }
    @for (message of messages$ | async; track message.id || $index) {

    @if (message) {
    <div class="message-wrapper" [class.outgoing]="message.type === 'outgoing'"
      [class.incoming]="message.type !== 'outgoing'">
      <div class="message-bubble">
        @if (message.type === 'incoming') { <div class="message-header" [routerLink]="'/chat/'+message.sender_username">
          {{message.sender_username | truncate:message.text.length+4}}
        </div>}
        <div></div>
        <div class="message-text" [innerHTML]="message.text | advancedFormatMessage"></div>
        <div class="message-meta">
          <span class="timestamp">{{ message.sent_at | dateToday }}</span>
          @if (message.type === 'outgoing') {
          @if (message.is_read) {<mat-icon class="read-status">done_all</mat-icon>}
          @else {<mat-icon class="read-status">check</mat-icon>}
          }
        </div>
      </div>
    </div>
    }
    } @empty {
    <div class="empty-messages">
      <mat-icon>chat_bubble_outline</mat-icon>
      <span>Нет сообщений</span>
    </div>
    }
  </div>

  <form [formGroup]="chatForm" (ngSubmit)="sendMessage()" class="message-form">
    <mat-form-field appearance="outline" class="message-input">
      <input matInput type="text" formControlName="message" placeholder="Введите сообщение...">
      <button mat-icon-button matSuffix type="submit" [disabled]="chatForm.invalid" [attr.aria-label]="'Отправить'">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </form>

  }
  @else if (class.message) {{{ class.message }}}
</div>