.student-lesson {
  margin: 16px auto 0 auto;
  width: 93%;

  form {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
  }

  mat-form-field {
    flex: 1;
  }

  button {
    flex-shrink: 0;
    margin-bottom: 20px;

    mat-icon {
      transform: scale(1.1);
    }
  }
}