@if (class.name) {
<div class="top-container">
    <div class="title">
        @if (mode==null) {
        <span [innerHTML]="class.name | truncate: isTitleActive" (click)="showTitle()">
        </span>
        @if (isCurrentWeek)
        { (текущая неделя)}
        <button mat-icon-button [matMenuTriggerFor]="class_menu"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #class_menu>
            <button mat-menu-item [routerLink]="'/class/'+this.class.link">Чат<mat-icon
                    matTextPrefix>message</mat-icon></button>
            <button mat-menu-item [routerLink]="'/class/'+this.class.link+'/info/'">Информация<mat-icon
                    matTextPrefix>info</mat-icon></button>
            <button mat-menu-item [routerLink]="'/class/'+this.class.link+'/members/'">Участники<mat-icon
                    matTextPrefix>people</mat-icon></button>
        </mat-menu>
        }
        @else if (mode=='create') { Запланировать занятие }
        @else if (mode=='edit') { Редактировать занятие }
        @else if (mode=='view') {
        <mat-icon (click)="noMode()">close</mat-icon>
        Занятие
        @if (canEdit) {
        <button mat-icon-button [matMenuTriggerFor]="lesson_menu"
            class="mini_more"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #lesson_menu>
            <button mat-menu-item (click)="editMode()">Редактировать<mat-icon matTextPrefix>edit</mat-icon></button>
            <button mat-menu-item (click)="removeLesson()">Удалить<mat-icon matTextPrefix>delete</mat-icon></button>
        </mat-menu>
        }
        }
    </div>
</div>
<div class="bottom-container">
    @if (mode==null)
    {
    <div class="single-week">
        @if (lessonsList) {
        @for (day of getDaysArray(lessonsList); track day.key) {
        <div class="single-day">
            <div class="day-info" [ngStyle]="{ 'font-weight': (day.is_today) ? '900' : 'normal' }">
                {{ day.label }} {{ day.date | dateToMonthName }}
                @if (canEdit) {<button (click)="createMode(day.date)"
                    mat-icon-button><mat-icon>add_box</mat-icon></button>}
            </div>
            <div class="lessons" [ngClass]="{ 'lessons-today': day.is_today }">
                @for (lesson of day.lessons; track lesson.id) {
                <div class="single-lesson" (click)="viewMode(lesson.id)">
                    <div>Занятие:</div>
                    <div>
                        @if (lesson.time && lesson.end_time) {
                        {{ lesson.time }}-{{lesson.end_time}}
                        }
                        @if (lesson.homework || lesson.personal_homework ) { (Д/з) }
                        @if (lesson.comment) { +комм. учителя }
                    </div>
                </div>
                } @empty {
                -
                }
            </div>
        </div>
        }
        }
    </div>
    <div class="week-navigation">
        <button (click)="previousWeek()" mat-icon-button><mat-icon>navigate_before</mat-icon></button>
        <button (click)="nextWeek()" mat-icon-button><mat-icon>navigate_next</mat-icon></button>
    </div>
    } @else if (mode=='create' || mode=='edit') {
    <div class="inner-block">
        <form [formGroup]="lessonForm">
            <div class="row-3">
                <p class="input-box">
                    <mat-form-field appearance="outline">
                        <mat-label>Дата</mat-label>
                        <input matInput formControlName="date" placeholder="ДД.ММ.ГГГГ">
                        <mat-error>
                            @if (lessonForm.get('date')?.errors?.['required'])
                            {Введите дату}
                            @else if (lessonForm.get('date')?.errors)
                            {Корректный формат: ДД.ММ.ГГГГ}
                        </mat-error>
                    </mat-form-field>
                </p>

                <p class="input-box">
                    <mat-form-field appearance="outline">
                        <mat-label>Время</mat-label>
                        <input matInput formControlName="time" placeholder="ЧЧ:ММ">
                        <mat-error>
                            @if (lessonForm.get('time')?.errors?.['required'])
                            {Введите время}
                            @else if (lessonForm.get('time')?.errors)
                            {Корректный формат: ЧЧ:ММ}
                        </mat-error>
                    </mat-form-field>
                </p>

                <p class="input-box">
                    <mat-form-field appearance="outline">
                        <mat-label>Минуты</mat-label>
                        <input matInput formControlName="duration">
                        <mat-error>
                            @if (lessonForm.get('duration')?.errors?.['required'])
                            {Введите длительность в минутах}
                            @else if (lessonForm.get('duration')?.errors)
                            {Введите целое число}
                        </mat-error>
                    </mat-form-field>
                </p>
            </div>

            <p class="input-box">
                <mat-form-field appearance="outline">
                    <mat-label>Домашнее задание</mat-label>
                    <textarea matInput formControlName="homework"></textarea>
                    <mat-error>
                        @if (lessonForm.get('homework')?.errors?.['maxLength'])
                        {Максимальная длина - 500 символов}
                    </mat-error>
                </mat-form-field>
            </p>

            <button (click)="submitLessonForm()" [disabled]="!lessonForm.valid" mat-raised-button>Подтвердить</button>
            <button (click)="mode=='edit'&&selectedLesson.id?viewMode(selectedLesson.id):noMode()"
                mat-raised-button>Отмена</button>
        </form>
    </div>
    } @else if (mode=='view') {
    <div class="inner-block">
        @if (lessonForm.value) {
        <p>{{ class.name }}</p>
        <p>
            {{ lessonForm.value.date }}
            {{ lessonForm.value.time }}-{{ getEndTime(lessonForm.value.time, lessonForm.value.duration) }}
        </p>
        @if (lessonForm.value.homework)
        {<p>Домашнее задание: {{ lessonForm.value.homework }}</p>}
        }
        @if (canEdit) {
        <div class="student-lesson">
            <form [formGroup]="studentChooseForm">
                <mat-form-field appearance="outline">
                    <mat-label>Выбор ученика</mat-label>
                    <mat-select formControlName="username">
                        @if (lessonsList) {
                        @for (item of getStudents(lessonsList); track item.username) {
                        <mat-option value="{{item.username}}">{{item.full_name}}</mat-option>
                        }
                        } @else {
                        <mat-option>Нет учеников</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </form>
            @if (studentChooseForm.value.username) {
            <form [formGroup]="studentLessonForm">
                <mat-form-field appearance="outline">
                    <mat-label>Домашнее задание</mat-label>
                    <textarea matInput formControlName="homework"></textarea>
                    <mat-error>Максимальная длина - 500 символов</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Комментарий</mat-label>
                    <textarea matInput formControlName="comment"></textarea>
                    <mat-error>Максимальная длина - 500 символов</mat-error>
                </mat-form-field>
                <button (click)="saveStudentLesson()" mat-raised-button>Сохранить</button>
            </form>
            }
        </div>
        } @else {
        @if (selectedLesson?.personal_homework) {
        <p>Персональное Д/з: {{ selectedLesson.personal_homework }}</p>
        }
        @if (selectedLesson?.comment) {
        <p>Комментарий: {{ selectedLesson.comment }}</p>
        }
        }
    </div>
    }
    @if (class.message) {{{ class.message }}}
</div>
}