@if (classes$ | async; as response) {
<div class="top-container">
  <div class="title">
    @if (!isCreating) {
    Всего классов: {{ response.total_classes }}
    <button mat-icon-button [matMenuTriggerFor]="class_menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #class_menu>
      <button mat-menu-item (click)="createMode()">Создать класс<mat-icon matTextPrefix>add</mat-icon></button>
    </mat-menu>
    } @else { Создать класс }
  </div>
</div>
<div class="bottom-container">
  @if (isCreating)
  {
  <div class="inner-block">
    <form [formGroup]="createClassForm">
      <p class="input-box">
        <mat-form-field appearance="outline">
          <mat-label>Название</mat-label>
          <input matInput formControlName="name">
          <mat-error>
            @if (createClassForm.get('name')?.errors?.['required'])
            {Введите название}
            @else if (createClassForm.get('name')?.errors)
            {Введите корректное название}
          </mat-error>
        </mat-form-field>
      </p>
      <p class="input-box">
        <mat-form-field appearance="outline">
          <mat-label>Ссылка</mat-label>
          <input matInput formControlName="link">
          <mat-error>
            @if (createClassForm.get('link')?.errors?.['required'])
            {Введите ссылку}
            @else if (createClassForm.get('link')?.errors)
            {Введите корректную ссылку}
          </mat-error>
        </mat-form-field>
      </p>
      <p class="input-box">
        <mat-form-field appearance="outline">
          <mat-label>Описание</mat-label>
          <input matInput formControlName="description">
          <mat-error>
            @if (createClassForm.get('description')?.errors?.['required'])
            {Введите описание}
            @else if (createClassForm.get('description')?.errors)
            {Введите корректное описание}
          </mat-error>
        </mat-form-field>
      </p>
      <button (click)="createClass()" [disabled]="!createClassForm.valid" mat-raised-button>Подтвердить</button>
      <button (click)="exitCreateMode()" mat-raised-button>Отмена</button>
    </form>
  </div>
  }
  @else
  {
  @for (class of response.classes; track class.link) {
  <div class="one-class" (click)="navigateToClass(class.link)">
    <div class="half">
      <div class="name">
        {{ class.name | truncate:46 }}
      </div>
      <div class="class-info">
        <p>{{ class.description }}</p>
        <p>{{ class.total_members }} участника. Ваша роль: {{class.user_role | roleName}}<mat-icon>{{class.user_role |
            roleIcon}}</mat-icon></p>
      </div>
    </div>
    <div class="half">
      @for (message of class.latest_messages; track message.sent_at) {
      <div class="class-message">
        @if (message.type === 'incoming') { {{message.full_name | truncate:5}} }
        @else if (message.type === 'outgoing') { Вы: }  {{message.text | truncate:30}}
      </div>
      }
    </div>
  </div>
  }
  }
</div>

}