@mixin no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0px;
  }
}

.block {
  @include no-scrollbar;
    flex: 1;             
    overflow-y: auto;    
    padding: 1rem;
    border: 1px solid color-mix(in srgb, var(--mat-sys-outline-variant) 78%, transparent);
    border-radius: 30px;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 640px;
  max-width: 640px;
}
@media (max-width: 700px) {
  .app {
    min-width: 460px;
    max-width: 460px;
  }

}

app-header {
  flex-shrink: 0;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
}