.nav-button {
  width: 100%;
  justify-content: flex-start;
  gap: 8px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  border-radius: 0;
  
  &.active-button {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-surface-container-high);
    
    &:hover {
      background-color: var(--mat-sys-tertiary);
    }
  }
}