<div class="top-container">
    <div class="title">
        Главная
    </div>
</div>
<div class="bottom-container">
    <div class="inner-block">
        <div class="description">
            @if (auth.tokenValue) {
            @if (isStudent) {
            Давайте начнём обучение! Перейдите во вкладку «Объявления» и найдите в поиске
            подходящего для вас репетитора. Выберите понравившееся объявление и нажмите
            кнопку «Написать репетитору». Договоритесь о том как будет проводиться обучение
            и ждите приглашения в класс в личных сообщениях. Как только репетитор его отправит,
            примите и присоединяйтесь к классу. В классе собрано расписание, домашние задания
            и классный чат. Общее расписание для всех ваших классов доступно на вкладке «расписание».
            Успешной учёбы!
            }
            @if (isTeacher) {
            Давайте начнём обучение! Для начала следует создать класс для ваших учеников.
            Можно создать несколько. Во вкладке «Мои классы» создайте новый, напишите название,
            описание, придумайте ссылку. Затем необходимо выложить объявление с этим классом
            во вкладке «Объявления». Новые ученики увидят ваше объявление в общем доступе
            и напишут вам в личные сообщения. Договоритесь о проведении занятий и отправьте
            приглашение в класс ученику со страницы вашего класса во вкладке «Участники».
            Далее составьте расписание занятий: запланируйте ближайшее занятие на странице
            класса, вкладка «Занятия». Общее расписание для всех ваших классов доступно на вкладке «расписание».
            Успешного преподавания!
            }

            } @else {
            Онлайн платформа для репетиторов позволяет упростить
            процесс внеклассного обучения. Школьникам и студентам
            предоставляется возможность поиска репетитора и взаимодействия с ним.
            Репетитор может выкладывать объявления о своих занятиях
            и формировать расписание. Расписание доступно как учителю, так и ученику:
            в нём собраны дата и время, домашнее задание и комментарий преподавателя.
            Важную роль играет мессенджер, представленный личным и классным чатами, позволяющий
            общаться всем участникам платформы между друг другом.
            }
        </div>
    </div>
</div>