@if (class) {    
    <h3>{{class.name}}</h3>
    @if (page == 1 ) {
    <div>
        <button (click)="pageTwo()">Информация</button>
        <h3>Чат класса:</h3>
        @if (messages$)
        {
        @if (hasMore$ | async) {
            <button (click)="loadMoreMessages()">ЗАГРУЗИТЬ</button>
        }
        
        @for (message of messages$ | async; track message.message_number) {
            @if (message) {
                <div [style.color]="message.type === 'outgoing' ? 'red' : 'blue'">
                  {{ message.sent_at | date:'dd.MM HH:mm' }}
                  <span [innerHTML]="message.text | advancedFormatMessage"></span>
                </div>
            }
        } @empty {
            <div>Нет сообщений</div>
        }
        <form [formGroup]="chatForm">
        <input formControlName="message">
        <button (click)="sendMessage()">Отправить</button>
        </form>

    } @else { Загрузка... }
    </div>
    } @else if (page == 2) {
        <button (click)="pageOne()">Чат класса</button>
    @if (class.user_role == 'creator' && !isEditing) {
        {{class.description}}
        {{class.created_at}}
        {{class.user_role}}
        <button (click)="editMode()">Редактировать</button>
        @if (!deleteConfirm)
        {
            <button (click)="deleteMode()">Удалить класс</button>
        }
        @else
        {
            <button (click)="deleteClass()">подтвердить удаление</button>
            <button (click)="exitDeleteMode()">отмена</button>
        }
    } @else if (class.user_role == 'creator' && isEditing) {
        <form [formGroup]="editClassForm">
            Название:
            <input formControlName="new_name" [placeholder]="class?.name || 'Загрузка...'">
            Описание:
            <input formControlName="new_description" [placeholder]="class?.description || 'Загрузка...'">
            Ссылка:
            <input formControlName="new_link" [placeholder]="class?.link || 'Загрузка...'">

            <button (click)="editClass()">Подтвердить</button>
            <button (click)="exitEditMode()">Отмена</button>
        </form>
    }
    
    <h3>Участники</h3>
    @for (member of class.members; track member.username) {
        <div (click)="navigateToChat(member.username)">
            {{member.full_name}} {{member.member_role}}
        </div>
        
        @if (class.user_role == 'creator' && member.member_role !== 'creator') {
            <button (click)="deleteMember(member.username)">Удалить</button>
            @if (member.member_role !== 'creator') {
                <button (click)="editRole(member.username, member.member_role)">
                    @if (member.member_role == 'student') { 
                        сделать учителем 
                    } @else if (member.member_role == 'teacher') { 
                        сделать учеником 
                    }
                </button>
            } 
        }
    }
    @if (class.user_role == 'creator')
    {
        <form [formGroup]="addMemberForm">
        <input formControlName="username">
        <button (click)="addMember()">Пригласить по username</button>
        </form>
        <button (click)="createRequest()">Создать общее приглашение</button>
        @if (invitation) {
            {{invitation}}
        }
    }
    @else {
        <button (click)="leave()">ВЫЙТИ</button>
    }
}
}


@else
{
    Класса не существует или он недоступен
}