@if (user) {
    <button
      mat-mini-fab
      matSuffix
      [routerLink]="'/profile/' + user.username"
      [attr.aria-label]="'Профиль'"
      ><mat-icon>person</mat-icon></button>

  <h2>{{ user.full_name }}</h2>
  @if (hasMore$ | async)
  {
    <button mat-button (click)="loadMoreMessages()">ЗАГРУЗИТЬ</button>
  }
  @for (message of messages$ | async; track message.id || $index) {
    @if (message) {
    <div [style.color]="message.type === 'outgoing' ? 'red' : 'blue'">
      {{ message.sent_at | date:'dd.MM HH:mm' }}
      <span [innerHTML]="message.text | advancedFormatMessage"></span>
    </div>

    }
  } @empty {
    <div>Нет сообщений</div>
  }
  <form [formGroup]="chatForm">
  <mat-form-field appearance="fill">
  <input matInput type="text" formControlName="message" placeholder="Сообщение">
  <button
      matIconButton
      matSuffix
      (click)="sendMessage()"
      [attr.aria-label]="'Отправить'"
      ><mat-icon>send</mat-icon></button>
  </mat-form-field>
  </form>
}