@use '@angular/material' as mat;

.account-redirect {
  margin-top: 28px;
  display: block; 
      font-weight: 400;

}
.account-link {
    font-weight: 600;
    color: var(--mat-sys-primary);
    cursor: pointer;
}