<div class="top-container">
    <div class="title">
        @if (mode=='search') {
        Поиск объявлений
        @if (isAuth$ | async) {
        <button mat-icon-button [matMenuTriggerFor]="search_menu"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #search_menu>
            <button mat-menu-item (click)="myMode()">Мои объявления<mat-icon
                    matTextPrefix>assignment_ind</mat-icon></button>
            <button mat-menu-item (click)="createMode()">Создать объявление<mat-icon
                    matTextPrefix>add</mat-icon></button>
        </mat-menu>
        }
        }
        @else if (mode=='my') {
        Мои объявления
        <button mat-icon-button [matMenuTriggerFor]="my_menu"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #my_menu>
            <button mat-menu-item (click)="searchMode()">Поиск объявлений<mat-icon
                    matTextPrefix>content_paste_search</mat-icon></button>
            <button mat-menu-item (click)="createMode()">Создать объявление<mat-icon
                    matTextPrefix>add</mat-icon></button>
        </mat-menu> }
        @else if (mode=='view') { <mat-icon (click)="searchMode()">close</mat-icon> Объявление }
        @else if (mode=='create') { Создать объявление }
        @else if (mode=='edit') { Редактировать объявление
        <button mat-icon-button [matMenuTriggerFor]="advertisement_menu"
            class="mini_more"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #advertisement_menu>
            <button mat-menu-item (click)="archiveAdvertisement()">Архивировать<mat-icon
                    matTextPrefix>archive</mat-icon></button>
            <button mat-menu-item (click)="removeAdvertisement()">Удалить<mat-icon
                    matTextPrefix>delete</mat-icon></button>
        </mat-menu> }
    </div>
</div>
<div class="bottom-container">
    @if (isBrowser) {
    @if (mode=='search') {
    <form [formGroup]="searchForm">
        <p class="input-box">
            <mat-form-field appearance="outline">
                <mat-label>Найти объявления</mat-label>
                <input matInput formControlName="value">
                <button matSuffix matIconButton aria-label="Поиск" (click)="search()">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </p>
    </form>
    @if ((advertisements$ | async)?.advertisements?.length) {
    <div class="advertisement-list">
        @for (item of (advertisements$ | async)?.advertisements; track item.id) {
        <div class="advertisement" (click)="viewMode(item.id)">
            <div class="name">{{ item.name |truncate:50}}</div>
            @if (item.description) { <div class="description">{{ item.description | truncate:50 }}</div> }
            <div>{{ item.creator_name |truncate:30}}</div>
            <div>
                @if (item.price) { Цена: {{ item.price }} рублей }
                @else { Цена не указана }
                | Создано: {{ item.created_at | date:'dd.MM.yyyy' }}
            </div>
        </div>
        }
    </div>
    <mat-paginator #paginator (page)="handlePageEvent($event)" [length]="this.advertisementsList.total_count"
        [pageSize]="PAGE_SIZE" [showFirstLastButtons]="true" [hidePageSize]="true" [pageIndex]="pageIndex">
    </mat-paginator>} @else { <div class="no-data">Нет объявлений</div> }
    } @else if (mode=='my') {
    @if ((myAdvertisements$ | async)?.advertisements?.length || (myAdvertisements$ | async)?.archive?.length)
    {
    @if ((myAdvertisements$ | async)?.advertisements?.length) {
    <div class="advertisement-list">
        @for (item of (myAdvertisements$ | async)?.advertisements; track item.id)
        {
        <div class="advertisement" (click)="editMode(item.id)">
            <div class="name">{{ item.name |truncate:50 }}</div>
            @if (item.description) { <div class="description">{{ item.description | truncate:50 }}</div> }
            <div>{{ item.creator_name }}</div>
            <div>
                @if (item.price) { Цена: {{ item.price }} рублей }
                @else { Цена не указана }
                | Создано: {{ item.created_at | date:'dd.MM.yyyy' }}
            </div>
        </div>
        }
    </div>
    }
    @if ((myAdvertisements$ | async)?.archive?.length) {
    АРХИВ
    <div class="advertisement-list">
        @for (item of (myAdvertisements$ | async)?.archive; track item.id)
        {
        <div class="advertisement" (click)="editMode(item.id)">
            <div class="name">{{ item.name |truncate:50 }}</div>
            @if (item.description) { <div class="description">{{ item.description | truncate:50 }}</div> }
            <div>{{ item.creator_name }}</div>
            <div>
                @if (item.price) { Цена: {{ item.price }} рублей }
                @else { Цена не указана }
                | Создано: {{ item.created_at | date:'dd.MM.yyyy' }}
            </div>
        </div>
        }
    </div>
    }

    } @else {
    <div class="no-data">Нет моих объявлений</div>
    }
    }
    @else if (mode=='view') {
    <div class="inner-block">
        @if (advertisementForm.value) {
        <p>{{ advertisementForm.value.name }}</p>
        @if (advertisementForm.value.description)
        {<p class="description">{{ advertisementForm.value.description }}</p>}
        }
        <p>
            @if (advertisementForm.value.price) {
            {{ advertisementForm.value.price }} рублей за занятие}
            @else { Цена не указана }
        </p>
        <button mat-raised-button color="primary"
            [routerLink]="'/chat/'+selectedAdvertisementUsername"><mat-icon>message</mat-icon>Написать
            репетитору</button>
    </div>

    } @else if (mode=='edit' || mode=='create') {
    <div class="inner-block">
        @if (mode === 'edit') {
        @if (classInfo$ | async; as classInfo) {
        <div class="class-info"> Класс: {{ classInfo.name }} </div>
        }
        }
        @if (mode=='create') {
        <form [formGroup]="selectClassForm">
            <mat-form-field class="select" appearance="outline">
                <mat-label>Выберите класс</mat-label>
                <mat-select formControlName="link">
                    @if ((myCreatedClasses$ | async)?.classes?.length) {
                    @for (item of (myCreatedClasses$ | async)?.classes; track item.name) {
                    <mat-option value="{{item.link}}">{{item.name}}</mat-option>
                    }
                    } @else {
                    <mat-option>У вас нет созданных классов</mat-option>
                    }

                </mat-select>
            </mat-form-field>
        </form>
        }
        <form [formGroup]="advertisementForm">
            <p class="input-box">
                <mat-form-field appearance="outline">
                    <mat-label>Заголовок</mat-label>
                    <input matInput formControlName="name">
                    <mat-error>
                        @if (advertisementForm.get('name')?.errors?.['required'])
                        {Введите заголовок}
                        @else if (advertisementForm.get('name')?.errors?.['maxLength'])
                        {Максимальная длина - 100 символов}
                    </mat-error>
                </mat-form-field>
            </p>

            <p class="input-box">
                <mat-form-field appearance="outline">
                    <mat-label>Стоимость занятия (в рублях)</mat-label>
                    <input matInput formControlName="price">
                    <mat-error>
                        @if (advertisementForm.get('price')?.errors)
                        {Введите целое число}
                    </mat-error>
                </mat-form-field>
            </p>

            <p class="input-box">
                <mat-form-field appearance="outline">
                    <mat-label>Описание</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                    <mat-error>
                        @if (advertisementForm.get('description')?.errors?.['maxLength'])
                        {Максимальная длина - 500 символов}
                    </mat-error>
                </mat-form-field>
            </p>
            @if (mode=='create') {
            <button (click)="submitAdvertisementForm()" [disabled]="!advertisementForm.valid || !selectClassForm.valid"
                mat-raised-button>Подтвердить</button>
            } @else {
            <button (click)="submitAdvertisementForm()" [disabled]="!advertisementForm.valid"
                mat-raised-button>Подтвердить</button>
            }
            <button (click)="myMode()" mat-raised-button>Отмена</button>
        </form>
    </div>
    }
    }
</div>