@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info {
  @include flex-center;
}

.bottom-info {

  color: var(--mat-sys-primary);
  font-weight: 400;
}