@if (class.name) {
<div class="top-container">
    <div class="title">
        @if (mode==null) {
        <span [innerHTML]="class.name | truncate: isTitleActive" (click)="showTitle()"></span>
        <button mat-icon-button [matMenuTriggerFor]="class_menu"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #class_menu>
            <button mat-menu-item [routerLink]="'/class/'+this.class.link+'/lessons/'">Занятия<mat-icon
                    matTextPrefix>calendar_today</mat-icon></button>
            <button mat-menu-item [routerLink]="'/class/'+this.class.link">Чат<mat-icon
                    matTextPrefix>message</mat-icon></button>
            <button mat-menu-item [routerLink]="'/class/'+this.class.link+'/members/'">Участники<mat-icon
                    matTextPrefix>people</mat-icon></button>
            @if (class.user_role == 'creator')
            {
            <button mat-menu-item (click)="editMode()">Редактировать<mat-icon matTextPrefix>edit</mat-icon></button>
            <button mat-menu-item (click)="deleteMode()">Удалить класс<mat-icon
                    matTextPrefix>delete_forever</mat-icon></button>
            } @else {
            <button mat-menu-item (click)="leave()">Выйти<mat-icon matTextPrefix>exit_to_app</mat-icon></button>
            }
        </mat-menu>
        } @else if (mode=='edit') {
        Редактировать класс
        } @else if (mode=='delete') {
        Удаление класса
        }
    </div>
</div>
<div class="bottom-container">
    @if (mode==null) {
    <div class="inner-block">
        <p class="description">{{class.description}}</p>
        <p class="bottom-info">Дата создания: {{class.created_at | date:'dd.MM.yyyy'}}
            | Ваша роль: {{class.user_role | roleName}}<mat-icon>{{class.user_role | roleIcon}}</mat-icon></p>
    </div>
    } @else if (mode=='edit') {
    <div class="inner-block">
        <form [formGroup]="editClassForm">
            <p class="input-box">
                <mat-form-field appearance="outline">
                    <mat-label>Название</mat-label>
                    <input matInput formControlName="new_name" [placeholder]="class?.name || 'Загрузка...'">
                </mat-form-field>
            </p>
            <p class="input-box">
                <mat-form-field appearance="outline">
                    <mat-label>Описание</mat-label>
                    <textarea matInput formControlName="new_description"
                        [placeholder]="class?.description || 'Загрузка...'"> </textarea>
                </mat-form-field>
            </p>
            <p class="input-box">
                <mat-form-field appearance="outline">
                    <mat-label>Ссылка</mat-label>
                    <input matInput formControlName="new_link" [placeholder]="class?.link || 'Загрузка...'">
                </mat-form-field>
            </p>

            <button mat-raised-button (click)="editClass()">Подтвердить</button>
            <button mat-raised-button (click)="noMode()">Отмена</button>
        </form>
    </div>

    } @else if (mode=='delete')
    {
    <div class="inner-block">
        <p>Вы действительно хотите удалить класс?</p>
        <button mat-raised-button (click)="deleteClass()">Подтвердить удаление</button>
        <button mat-raised-button (click)="noMode()">Отмена</button>
    </div>
    }
</div>
} @else if (class.message) {{{ class.message }}}