@if (user) {
<div class="top-container">
  <div class="title">
    <span [innerHTML]="user.full_name | truncate: isTitleActive" (click)="showTitle()"></span>
    <button mat-mini-fab matSuffix [routerLink]="'/chat/' + user.username"
      [attr.aria-label]="'Личный чат'"><mat-icon>message</mat-icon></button>
  </div>
  <div class="info">
    <span>{{ user.birth_date | date:'dd.MM.yyyy' }}</span>
    @if (user.gender === 'M') {<mat-icon>male</mat-icon>}
    @if (user.gender === 'F') {<mat-icon>female</mat-icon>}
  </div>
</div>
}