.button-container {
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  
  .nav-button {
    flex: 1;
    justify-content: center;
    flex-direction: column;
    font-size: 0.7rem;
    border-radius: 0;
    border-top: 1px solid var(--mat-sys-outline-variant);
    
    mat-icon {
      margin: 0;
    }
    
  &.active-button {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-surface-container-high);
    
    mat-icon {
      color: var(--mat-sys-surface-container-high);
    }
    
    &:hover {
      background-color: var(--mat-sys-tertiary);
    }
  }
  }
}