<button mat-raised-button [routerLink]="'/'">
  <mat-icon>home</mat-icon>
  Главная
</button>

<button mat-raised-button [routerLink]="'/chat/'">
  <mat-icon>chat</mat-icon>
  Список чатов
</button>

<button mat-raised-button [routerLink]="'/class/'">
  <mat-icon>class</mat-icon>
  Список классов
</button>

<button mat-raised-button [routerLink]="'/account/'">
  <mat-icon>account_circle</mat-icon>
  Аккаунт
</button>

<button mat-raised-button [routerLink]="'/login/'">
  <mat-icon>login</mat-icon>
  Войти в аккаунт
</button>