<div class="top-container">
    <div class="title">
        Приглашение в класс:
    </div>
</div>
<div class="bottom-container">
    <div class="inner-block">
        @if (response)
        {
        @if (response.name)
        {
        <p>{{response.name}}</p>
        <p>{{response.description}}</p>
        <p>{{response.created_at | date:'dd.MM.yyyy HH:mm'}}</p>
        @for (member of response.members; track member.username)
        {
        <div> {{member.full_name}} <mat-icon>{{member.member_role | roleIcon}}</mat-icon> </div>
        }
        <button mat-raised-button (click)="accept()">Принять</button>
        <button mat-raised-button (click)="decline()">Отклонить</button>
        }
        @else if (response.message) { {{response.message}} }
        }
    </div>
</div>